#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh $@ --with autoreconf --parallel

# The upstream Makefile in the tarball is not what you might expect,
# and causes a syntax error (missing separator) in GNU make.

override_dh_auto_clean:
	-rm -f Makefile
	dh_auto_clean
